@use '../utility/mixins';

section#contact {
    background-color: var(--background-three);

    > .container {
        min-height: 100vh;
        padding-top: 5rem;
    }
}


#contact-separator {
    height: 8rem;

    background-color: var(--background-three);
    color: var(--background-two);
}