footer {
    height: 25vh;
    
    background-color: var(--background-three);
}

#footer-separator {
    height: 8rem;

    color: var(--background-three);
    background-color: var(--background-two);
}
