@use '../utility/mixins';

section {
    &#hero {
        background-color: var(--background-two);
        > .container {
            height: 100vh;

            display: flex;
            flex-direction: row;
            align-items: center;

            .left {
                flex: 1 1 0;

                h1 {
                    font-size: clamp(2rem, 3vw, 3.5rem);
                    line-height: 140%;
                }
            }

            .right {
                position: relative;
                right: -8%;
                flex: 1 1 0;

                svg.graphic {
                    width: 100%;

                    color: var(--primary-colour);

                    .shape {
                        color: var(--foreground);
                        opacity: 0.25;
                        transform-box: fill-box;
                        transform-origin: center;
                    }

                    @for $i from 1 through 3 {
                        .shape-animate-#{$i} {
                            transform-box: fill-box;
                            transform-origin: center;

                            animation: #{if($i % 2 == 0, cw-in, acw-in)} 2s cubic-bezier(0.19, 1, 0.22, 1) #{$i * 0.2}s 1 normal both,
                                       bob 3s ease-in-out #{($i - 1) * 0.7 + 1.2}s infinite alternate none;
                        }
                    }

                    .shape-hover {
                        transform-box: fill-box;
                        transform-origin: center;
                        pointer-events: all;

                        transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);

                        &:hover {
                            transform: scale(1.1) rotate(10deg);
                        }
                    }

                    image {
                        transform-box: fill-box;
                        transform-origin: center;
                        pointer-events: none;

                        animation: image-in 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal both,
                                   image-bob 3s ease-in-out 1s infinite alternate none;
                    }
                }
            }
        }
    }
}

@keyframes cw-in {
    0% {
        opacity: 0;
        transform: translateY(0.8rem) scale(0.8) rotate(-45deg);
    }
    100% {
        opacity: 100%;
        transform: translateY(0) scale(1) rotate(0deg);
    }
}

@keyframes acw-in {
    0% {
        opacity: 0;
        transform: translateY(0.75rem) scale(0.85) rotate(-45deg);
    }
    100% {
        opacity: 100%;
        transform: translateY(0) scale(1) rotate(0deg);
    }
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0.2rem);
    }
}

@keyframes hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes image-in {
    0% {
        opacity: 0;
        transform: scale(0.95) rotate(-5deg);
    }
    100% {
        opacity: 100%;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes image-bob {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1deg);
    }
}

#hero-separator {
    color: var(--background-two);
    > svg {
        height: 8rem;
    }
}
