@use '../utility/mixins';

section {
    &#hero {
        background-color: var(--background-two);
        > .container {
            height: 100vh;
             
            display: flex;
            flex-direction: row;
            align-items: center;
    
    
            .left {
                flex: 1 1 0;
    
                h1 {
                    font-size: clamp(2rem, 3vw, 3.5rem);
                    line-height: 140%;
                }
            }
    
            .right {
                position: relative;
                right: -8%;
                flex: 1 1 0;
    
                svg.graphic {
                    width: 100%;

                    color: var(--primary-colour);

                    .shape {
                        color: var(--foreground);
                        opacity: 0.25;
                    }
                }
            }
        }

       
    }
}


#hero-separator {
    color: var(--background-two);
    > svg {
        height: 8rem;
    }
}