@use '../utility/mixins';

section#projects {
    margin-top: -7rem;

    background-color: var(--background-two);

    > .container {
        min-height: 100vh;
        padding-top: 5rem;

        .card {
            min-height: 25vh;
        }

        #project-dash-dodge {
            background: var(--image-overlay),
                url('../../img/projects/dash-dodge/think-outside-the-box.jpg') no-repeat center center;

            background-size: cover;
        }

        #project-simpliplan {
            background: var(--image-overlay),
                url('../../img/projects/simpliplan/homework-page.png') no-repeat center 25%;

            background-size: cover;
        }
    }
}
