@use '../utility/mixins';

section#tech {
    background-color: var(--background);
    > .container {
        height: auto;
        // margin-top: 10rem;

        > .card {
            min-height: 50vh;

            li {
                margin-top: 0.5rem;
            }
        }
    }
}

#tech-separator {
    position: relative;
    top: -7rem;
    height: 8rem;

    color: var(--background-two);
}
