@use '../utility/mixins';

section#tech {
    background-color: var(--background);
    > .container {
        height: auto;
        margin-top: 10rem;
    }
}

#tech-separator {
    position: relative;
    top: -7rem;

    color: var(--background-two);

    > svg {
        height: 8rem;
    }
}

