* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;

    flex-direction: column;
    align-items: center;

    overflow-x: hidden;

    background-color: #f0f0f0;
}

@import 'mixins/media';
@import 'mixins/flex';

@import 'components/sections';
@import 'components/buttons';
@import 'components/text';
@import 'components/dividers';
