* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
}

@import 'mixins/media';

@import 'components/sections';
@import 'components/buttons';
@import 'components/text';
@import 'components/dividers';