* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: hsl(0, 0, 80%);
}

section#hero {
    height: 100vh;
    max-width: 120rem;
    width: 100vw;

    display: flex;
    justify-content: center;

    background-color: hsl(0, 0%, 90%);
}


/* PHONE */
@media only screen and (max-width: 700px) {
    section#hero {
        padding: 0 1rem;

        flex-direction: column;
        align-items: center;
    }
}
/* DESKTOP */
@media only screen and (min-width: 700px) {
    section#hero {
        padding: 0 5%;

        flex-direction: row;
        align-items: center;
    }
}

section#hero img {
    max-height: 40vh;
    max-width: 40vh;
    width: 80%;
    /* height: 50vmin; */
    aspect-ratio: 1/1;

    border-radius: 50%;
}

section#hero .text {
    z-index: 10;
    background-color: antiquewhite;
}

section#hero h1 {
    font-size: 4rem;
    background-color: wheat;
}

section#hero p {
    font-size: 1.5rem;
}