@mixin custom-flex($direction, $mainCentre: true, $crossCentre: true) {
    display: flex;
    
    align-items: if($mainCentre == true, center, flex-start);
    justify-content: if($crossCentre == true, center, flex-start);

    flex-direction: if($direction == horizontal, row, column);
}
