.positioned {
    position: relative;
    display: block;
    height: 0;

    &.wide {
        width: 100%;
    }

    &.centred {
        @include centred-flex(horizontal);
    }
}

.responsive-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1px;

    // > * {
    //     border-top: 1px solid $darkDivider;
    //     border-left: 1px solid $darkDivider;
    // }

    background-color: $darkDivider;

    > * {
        background-color: white;
    }
}

@for $i from 1 through 10 {
    .spacer-#{$i} {
        height: #{$i}rem;
    }
}
