$lightText: rgb(255, 255, 255);
$darkText: rgb(27, 27, 27);

$lightDivider: rgba(255, 255, 255, 0.15);
$darkDivider: rgba(0, 0, 0, 0.15);

$lightTooltip: rgba(255, 255, 255, 0.8);
$darkTooltip: rgba(0, 0, 0, 0.8);

$lightBlurredOverlay: rgba(255, 255, 255, 0.35);
$darkBlurredOverlay: rgba(0, 0, 0, 0.25);
