@use './mixins';

html {
    font-family: 'Poppins', sans-serif;
    overflow-x: initial;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
}

section {
    > .container {
        margin: 0 4%;
        height: 100vh;

        @include mixins.display-medium {
            margin: 0 8%;
        }
        @include mixins.display-large {
            margin: 0 15%;
        }
        @include mixins.display-xlarge {
            margin: 0 20%;
        }
    }
}

section, footer {
    h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.separator {
    width: 100%;
    > svg {
        width: 100%;
        height: 100%;
    }
}