// Waves 1
.wave-divider {
    position: absolute;
    left: 0;
    min-width: 100vw;
    overflow: hidden;
    line-height: 0;

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
        transform: rotate(180deg);
    }

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
}