*[data-tooltip] {
    &::before {
        /* needed - do not touch */
        content: attr(data-tooltip);
        position: absolute;
        opacity: 0;
        
        /* customizable */
        transition: all 0.15s ease;
        padding: 10px;
        border-radius: .5rem;

        background:  var(--tooltip--on-theme);
        color: var(--text--on-opposite);
    }

    &:hover::before {
        /* needed - do not touch */
        opacity: 1;

        /* customizable */
        margin-top: -2rem;
    }
}


