.project-item {
    position: relative;
    width: 100%;

    overflow: hidden;
    border-radius: 1rem;

    > img.background {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;

        opacity: 75%;
        // filter: blur(10px);
        transform: scale(1.1);

        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    > .content {
        position: relative;
        width: 100%;
        height: auto;
        padding: 3rem 1rem;
        z-index: 10;

        @include centred-flex(vertical, true, true);

        background-color: $lightBlurredOverlay;
        backdrop-filter: blur(10px);

        > img.icon {
            width: 4rem;
            height: 4rem;
            display: block;
        }
        > p {
            margin-top: 1rem;
            text-align: center;
        }
        > .button {
            margin-top: 2rem;
        }
    }

    &:hover {
        img.background {
            transform: scale(1.2);
        }
    }
}
