section {
    position: relative;
    width: 100%;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        max-width: 120rem;
        width: 100vw;

        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include phone {
            padding: 0 1rem;
        }

        @include desktop {
            padding: 0 5%;
        }
    }

    .divider {
        display: block;
        width: 100%;
    }

    &#hero {
        height: 100vh;

        background-color: #fcfcfc;

        .content {
            img {
                max-height: 40vh;
                max-width: 40vh;
                width: 80%;

                border-radius: 54% 46% 48% 52% / 62% 38% 62% 38%;
            }

            .text {
                padding: 2rem;

                h1 {
                    font-size: 4rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }

            @include phone {
                flex-direction: column;
                text-align: center;
            }

            @include desktop {
                flex-direction: row;
            }
        }
    }

    &#about {
        min-height: 100vh;
        height: 50vh;
        padding-top: 200px; // Divider padding
        padding-bottom: 350px; // Divider padding

        color: white;
        background: linear-gradient(to right, #f957b0, #eb7d0e);

        > .wave-divider {
            &.top .shape-fill {
                fill: #fcfcfc;
            }
            &.bottom .shape-fill {
                fill: #e0e0e0;
            }
        }
    }

    &#skills {
        height: 50vh;

        background-color: #e0e0e0;
    }
}
