@mixin outline-button {
}

.button {
    text-decoration: none;

    &.hero {
        &.filled {
            position: relative;
            display: inline-block;
            z-index: 10;

            border: 3px solid var(--foreground);
            color: var(--foreground);

            &.big {
                padding: 1rem 2rem;
                margin-top: 2rem;

                font-size: 1rem;
                font-weight: 500;
            }

            &:hover {
                color: var(--background);
            }

            &::before {
                content: '';
                position: absolute;
                top: -1px;
                left: -1px;
                bottom: -1px;
                width: 0;
                z-index: -1;

                background-color: var(--foreground);

                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            &:hover::before {
                // height: calc(100% + 2px);
                width: calc(100% + 2px);
            }

            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &.text {
            position: relative;
            display: inline-block;
            z-index: 10;

            color: var(--foreground);

            &.big {
                padding: 1rem 2rem;
                margin-top: 2rem;

                font-size: 1rem;
                font-weight: 500;
            }

            &::after {
                content: '>';
                display: none;
                position: absolute;
                padding: 0 1rem;

                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            &:hover {
                &::after {
                    display: inline-block;
                }
            }

            &:hover::after {
                width: calc(100% + 2px);
            }

            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}
