@mixin outline-button {
    border-width: 3px;
    border-style: solid;
}

.button {
    text-decoration: none;
    
    &.hero {
        &.big {
            @include outline-button;
            display: inline-block;

            padding: 1rem 2rem;
            margin-top: 2rem;

            font-size: 1rem;
            font-weight: 500;

            color: var(--foreground);
        }
    }
}