@mixin outline-button {
}

.button {
    text-decoration: none;

    &.hero {
        position: relative;
        display: inline-block;
        z-index: 10;

        border: 3px solid var(--foreground);
        color: var(--foreground);

        &.big {
            padding: 1rem 2rem;
            margin-top: 2rem;

            font-size: 1rem;
            font-weight: 500;
        }

        &:hover {
            color: var(--background);
        }

        &::before {
            content: '';
            position: absolute;
            left: -1px;
            right: -1px;
            bottom: -1px;
            height: 0;
            z-index: -1;

            background-color: var(--foreground);

            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:hover::before {
            height: calc(100% + 2px);
        }

        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
