@use '../utility/variables';

.card {
    position: relative;
    border-radius: #{variables.$main-border-radius};
    overflow: hidden;

    background-color: var(--background-two);

    &.big > .container {
        padding: 3rem;
    }

    > .container {
        padding: 2rem;

        height: 100%;

        h1,
        h2 {
            margin: 1rem 0;
        }
    }

    &.raised {
        z-index: 10;
        
        box-shadow: 0px 5.7px 4.5px rgba(0, 0, 0, 0.042), 0px 15.2px 12.5px rgba(0, 0, 0, 0.06),
            0px 34.6px 30.1px rgba(0, 0, 0, 0.078), 0px 100px 100px rgba(0, 0, 0, 0.12);
    }

    &.decorated::after {
        content: '';
        position: absolute;
        inset: 0;
        height: #{variables.$decoration-height};

        background-color: var(--primary-colour);
    }
}
