@use '../utility/variables';

.card {
    position: relative;
    border-radius: #{variables.$main-border-radius};
    overflow: hidden;

    background-color: var(--background-two);

    > .container {
        margin: 2rem 2rem;

        h2 {
            margin: 1rem 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        height: #{variables.$decoration-height};

        background-color: var(--primary-colour);
    }
}