@use '../utility/variables';

.chip {
    display: inline;
    padding: 0.5rem 1rem;
    border-radius: #{variables.$small-border-radius};
    background-color: var(--background-four);
    
    &.blurred {
        background-color: var(--blur-overlay);
        backdrop-filter: blur(1rem);
    }

    &:hover {
        transform: rotate(5deg);
    }

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}