@use '../utility/variables';

form {
    padding: 2rem 0;

    input[type='text'],
    input[type='email'],
    textarea {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
        font-size: 1rem;
        
        border: 1px solid var(--foreground);
        border-radius: #{variables.$small-border-radius};
        background-color: transparent;
        color: var(--foreground);
    }

    label {
        display: inline-block;
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
    }

    input[type='submit'] {
        display: inline-block;
        background-color: transparent;
        color: var(--foreground);
        border: 1px solid var(--foreground);
        cursor: pointer;
    }
}
