.layout.stretch-items {
    width: 100%;
    display: grid;
    gap: clamp(1rem, 2.5vw, 3rem);

    &.large-items {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    &.small-items {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    &.xlarge-items {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    }
}

.layout.fixed-items {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.layout.flex-container {
    display: flex;

    &.down {
        flex-direction: column;
    }
    &.across {
        flex-direction: row;
    }
}

.layout.stretch-height {
    height: 100%;
}

.flex-spacer {
    flex-grow: 1;
}

.margin-xsmall {
    margin: 0.5rem 0;
}
.margin-small {
    margin: 1rem 0;
}
.margin-medium {
    margin: 1.5rem 0;
}
.margin-large {
    margin: 2rem 0;
}
.margin-xlarge {
    margin: 5rem 0;
}

.spacer {
    height: auto;
}