@use '../utility/variables';

section {
    h1 {
        margin: 1rem 0;
    }

    .title-decoration {
        position: relative;
        display: inline-block;
        height: #{variables.$decoration-height};
        width: 6rem;

        > span:nth-child(1) {
            position: absolute;
            inset: 0;
            border-radius: 1rem;

            background-color: var(--primary-colour-three);
        }
        > span:nth-child(2) {
            position: absolute;
            inset: 0;
            border-radius: 1rem;
            right: 33%;

            background-color: var(--primary-colour-two);
        }
        > span:nth-child(3) {
            position: absolute;
            inset: 0;
            border-radius: 1rem;
            right: 67%;

            background-color: var(--primary-colour);
        }
    }
}

p {
    line-height: normal;
}